body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #000;
    background: #cbe;
}

a:link {
    color: #933;
    text-decoration: none;
}

a:visited {
    color: #931;
}


table, th, td {
    margin: .8em 3em .8em 3em;
    border: 1px solid black;
    font-size: 1.1em;
    }
    th, td {
            padding: 1.3em;
    }

th {
    background: #bcd;
}

p {
    margin: .8em 3em .8em 3em;
    font-size: 1.2em;
    padding: 0;
    line-height: 140%;
}

ol, ul, dl, li {
    margin: 1.6em 1em .8em 1em;
    font-size: 1.2em;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 0em 0em 0em 0em;
    text-align: center;
    font-weight: 300;
    font-size: 2.4em;
    height:2em;
    width: 100%;
    line-height:1em;
    color: #edf2cb;
    padding: 1em 0em 0em 0em;
    background-color: #444;
}

h2 {
    font-size: 2.0em;
    margin: 1.6em 2em 1em 2em;
    color: #356;
}

h2.subhead {
    font-weight:
    normal;
    margin-top:
    0;
}

h3 {
    font-size: 1.8em;
    margin: 1.6em 2.6em 1em 2.6em;
    color: #642;
    font-weight: bold;
}

h4 {
    font-size: 1.5em;
    margin: 1.3em 3em 1em 3em;
    color: #339;
    font-weight: bold;
}

h5 {
    font-size: 1.3em;
    margin: 1.3em 4em 1em 4em;
    color: #600;
    font-weight: bold;

}

td.vim-key {
    color: #633;
    font-style: italic;
}




.navbar {
    overflow: hidden;
    background-color: #444;
    font-family: Arial, Helvetica, sans-serif;
    float:right;
    font-weight: bold;
    text-transform: uppercase;
    color:#f7e6e6;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #f7e6e6;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #f7e6e6;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;

}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #933;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cbe;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
